name: Lint

on:
    pull_request:
    push:
        branches: [main]

permissions: {}

jobs:
    oxlint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - uses: oven-sh/setup-bun@v2

            - run: bun install
            - run: bun run lint:github
