name: Test

on:
    pull_request:
    push:
        branches: [main]

permissions: {}

jobs:
    vitest-bun:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v6

            - name: Setup Bun
              uses: oven-sh/setup-bun@v2

            - name: Install deps
              run: bun install

            - name: Lint
              run: bun run test
              continue-on-error: true
    # We run it under Node because the Z3 lib import used in solving day 10 is finicky under Bun due to some WASM support issues
    vitest-node:
        runs-on: ubuntu-latest
        needs: vitest-bun
        if: needs.vitest-bun.result != 'success'
        steps:
            - uses: actions/checkout@v6

            - name: Setup Node
              uses: oven-sh/setup-bun@v2

            - name: Install deps
              run: bun install

            - name: Test
              run: bun run test
              continue-on-error: true
